/.idea
ego.iml
/ego-code-generate/target
/ego-common/target
/ego-manager-web/target
/ego-rpc/ego-manager/target
/ego-rpc/ego-pojo/target
/ego-rpc/ego-service/target
/ego-rpc/ego-service-impl/target
/ego-portal-web/target
/ego-search-web/target
/ego-sso-web/target
/ego-item-web/target
/ego-item-web/ego-item-web.iml
/ego-order-web/target
/ego-order-web/ego-order-web.iml
