<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo 
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
   
   <!-- 添加服务消费者的标志 -->
   <dubbo:application name="ego-manager-web-consumer"/>
   <!-- 指定注册中心 -->
   <!--<dubbo:registry address="192.168.10.20:2181,192.168.10.20:2182,192.168.10.20:2183"
                   protocol="zookeeper" />-->

    <dubbo:registry address="127.0.0.1:2181"
                    protocol="zookeeper" />
   
   <!-- spring容器中存在一个远程服务的代理对象 -->
  	<dubbo:reference interface="com.shsxt.ego.rpc.service.IUserService"
                     id="userServiceProxy"></dubbo:reference>
    <dubbo:reference interface="com.shsxt.ego.rpc.service.IItemService"
                     id="itemServiceProxy"></dubbo:reference>
    <dubbo:reference interface="com.shsxt.ego.rpc.service.IItemCatService"
                     id="itemCatServiceProxy"></dubbo:reference>
    <dubbo:reference interface="com.shsxt.ego.rpc.service.IItemDescService"
                     id="itemDescServiceProxy"></dubbo:reference>
</beans>
