<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:mvc="http://www.springframework.org/schema/mvc"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

   <!-- 扫描controller -->
   <context:component-scan base-package="com.shsxt.ego.manager" />
   
   <!-- mvc:annotation-driven -->
   <!-- mvc 注解驱动 并添加json 支持 -->
   <mvc:annotation-driven>
      <mvc:message-converters>
         <!-- 返回信息为字符串时 处理 -->
         <bean class="org.springframework.http.converter.StringHttpMessageConverter"></bean>
         <!-- 将对象转换为json 对象 -->
         <bean
                 class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>
      </mvc:message-converters>
   </mvc:annotation-driven>
   <!-- 静态资源映射 -->
   <!-- location:表示资源在项目的真正位置 -->
   <!-- mapping:访问路径 -->
   <!-- /css/** -->
   <!-- http://localhost:8080/css/a/b/c/hello.css -->
   <!-- / = http://localhost:8080/ -->
   <mvc:resources location="/WEB-INF/css/" mapping="/css/**"></mvc:resources>
   <mvc:resources location="/WEB-INF/js/" mapping="/js/**"></mvc:resources>
   <mvc:default-servlet-handler/>
   <!-- 视图解析器 -->
   <bean id="viewResovler"
      class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <!-- 表示使用的视图技术是jsp -->
      <property name="viewClass"
         value="org.springframework.web.servlet.view.JstlView"></property>
      <!-- 前缀 -->
      <property name="prefix" value="/WEB-INF/jsp/"></property>
      <!-- 后缀 -->
      <property name="suffix" value=".jsp"></property>
   </bean>

   <!-- 图片上传的解析器 -->
   <bean id="multipartResolver"
      class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
      <!-- 设定默认编码 -->
      <property name="defaultEncoding" value="UTF-8"></property>
      <!-- 设定文件上传的最大值5MB，5*1024*1024 -->
      <property name="maxUploadSize" value="5242880"></property>
   </bean>

</beans>
