<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- 指定mybatis的日志记录方式，需要添加log4j的依赖 -->
		<!-- 需要在src/main/resources下添加log4j.properties -->
		<setting name="logImpl" value="LOG4J" />
	</settings>

	<typeAliases>
		<!-- 将指定包下的所有的实体bean的别名取为类名首字母小写 -->
		<package name="com.shsxt.ego.rpc.pojo" />
	</typeAliases>

	<!-- 配置分页插件 -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库 -->
			<property name="dialect" value="mysql" />
		</plugin>
	</plugins>

</configuration>